<div id="-<%= product.id %>">
<ul class="list-group justify-content-center">
  <li class="list-group-item">
    <p><b>Product Name:</b><%= product.name %> </p>
    <p><b>Product UPC:</b> <%= product.upc %></p>
  </li>
</ul>
</div>
